# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env
*.sqlite3

# Virtual Environment
.venv/
env/
venv/

# Django
*.log
*.pot
*.pyc
*.py[cod]
__pycache__/
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
Thumbs.db

# Pytest
.cache/

# Coverage
htmlcov/
.coverage

# Python package metadata dirs
*.dist-info/
*.egg-info/
