# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
env/
venv/

# Django
db.sqlite3
*.log
media/
staticfiles/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python package metadata dirs
*.dist-info/
*.egg-info/
